.quote-band {
  width: 100%;
  background: linear-gradient(45deg, #d32f2f, #b71c1c); /* Red gradient */
  color: white;
  padding: 5px;
  text-align: center;
  font-family: "Cutmark", sans-serif;
  font-size: 0.85em;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.quote-band p {
  display: inline-block;
  animation: slideIn 12s linear infinite;
  padding: 0 10px;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .quote-band {
    font-size: 0.75em;
    padding: 3px;
  }
}
